<!-- Only show item if user has required role -->
@if(canShowItem()) { @if(item.navCap) { @if(item.divider) {
<span class="sidebar-divider"></span>
}
<div mat-subheader class="nav-caption">
  {{ item.navCap }}
</div>
} @else {
<mat-list-item
  (click)="onItemSelected(item)"
  [class.mat-toolbar]="item.route && router.isActive(item.route, true)"
  [class.mat-primary]="item.route && router.isActive(item.route, true)"
  [class.activeMenu]="item.route && router.isActive(item.route, true)"
  class="menu-list-item"
>
  <span
    class="iconify routeIcon"
    matListItemIcon
    [attr.data-icon]="item.iconName"
  ></span>

  <span class="hide-menu">{{ item.displayName }}</span>
</mat-list-item>
} }
