/* You can add global styles to this file, and also import other style files */
// @import "ngx-toastr/toastr";
@import "ngx-toastr/toastr";

gmpx-place-autocomplete,
gmp-place-autocomplete {
  color-scheme: light !important;
  border-radius: 12px;
  display: block !important;
  width: 100% !important;
  max-width: 100% !important;
  min-width: 0 !important; /* allow shrink */
  box-sizing: border-box !important;
  border-color: 1px solid white;
  border: 1px solid #e2e8f0;
}

.modal,
.modal *[class*="row"],
.modal *[class*="col"],
.modal .modal-body,
.form-row,
.form-group {
  min-width: 0; /* allow children to shrink */
}

.modal,
.modal .modal-body {
  overflow-x: hidden; /* safety net for any stray overflow */
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
:host {
  color-scheme: normal;
}

@media print {
  /* Hide everything else */
  body * {
    visibility: hidden !important;
  }

  /* Show only the printable section */
  #printableProfile,
  #printableProfile * {
    visibility: visible !important;
  }

  /* Perfectly center on page */
  #printableProfile {
    position: absolute !important;
    inset: 0 !important; /* top, right, bottom, left = 0 */
    margin: auto !important;
    width: 190mm !important; /* centered width */
    min-height: 277mm !important;
    background: #fff !important;
    padding: 10mm 15mm !important;
    box-sizing: border-box;
    overflow: hidden !important;

    /* Remove weird right offset */
    transform: none !important;

    /* Optional “resume page” styling */
    box-shadow: 0 0 6mm rgba(0, 0, 0, 0.05);
    border-radius: 4mm;
  }

  /* Hide unwanted app elements */
  app-sidebar,
  app-topbar,
  app-header,
  .sidebar,
  .navbar,
  .layout,
  .menu,
  .overlay,
  .edit-profile-btn,
  .print-btn,
  button {
    display: none !important;
  }

  @page {
    size: A4;
    margin: 0;
  }
}
